machine learning/.idea/workspace.xml
machine learning/.idea/misc.xml
machine learning/.idea/libraries/R_User_Library.xml
machine learning/.idea/machine learning.iml
machine learning/.idea/modules.xml
machine learning/.idea/*
.idea/workspace.xml
.idea/nmtl.iml
.idea/misc.xml
.idea/encodings.xml
.idea/vcs.xml
.idea/modules.xml
.idea/libraries/R_User_Library.xml
machine learning/kaggle/Wine Reviews/data/winemag-data-130k-v2.csv
machine learning/commonvoice/cv_corpus_v1.tar.gz
machine learning/NLP/data/data.txt
